.beliefs-div {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    p {
        margin: 0px;
    }

    @media screen and (min-width: 480px) {
        max-width: 80vw;
    }

    .lead-text {
        font-size: 20px;
    }
}