.nav-bar {
    width: 100vw;
    height: 100px;
    background-color: var(--main-bg-color);
    padding: 0px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    div {
        text-align: center;
        align-items: center;
        width: 33%;
    }
    
    .login-div {
        text-align: right;
    }
}

.sticky {
    position: fixed;
    top: 0;
}

.header-link, .header-link:visited, .header-link:hover {
    color: white;
    font-size: 75px;
    margin: 0px;
    text-decoration: none;
}

.login-button {
    margin: 20px 0px 20px 0px;
    height: 60px;
    width: 120px;
}